# Python

Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Pythonâ€™s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

Python is:
- High-level
- Interpreted
- General purpose
- Dynamically typed

The Python interpreter is easily extended with new functions and data types implemented in C or C++ (or other languages callable from C). Python is also suitable as an extension language for customizable applications.

Being a very-high-level language, it has high-level data types built in, such as flexible arrays and dictionaries.

## Python as a calculator

In [22]:
# comment here
2 + 2  # or comment here

4

In [23]:
(50 - 5) / 9

5.0

In [24]:
16 / 5

3.2

In [25]:
5 * 2

10

In [26]:
# Floor division discards fraction
16 // 5

3

In [27]:
5 * 2

10

In [28]:
# Raise to the power of 
5 ** 2

25

In [29]:
# Modulo division
6 % 4

2

### Variables

The equal sign (=) is used to assign a value to a variable.

In [30]:
x = 2

In [31]:
x

2

In [32]:
y = 3
y

3

In [33]:
x + y

5

In [34]:
z = x + y
z

5

In [35]:
n

NameError: name 'n' is not defined

In [36]:
x, y = 5, 6

In [37]:
x

5

In [38]:
y

6

In [39]:
x, y

(5, 6)

In [40]:
type(1)

int

In [41]:
type(1.2)

float

### Strings

Use "" or '' to define strings, however, "" is preferred, use '' only if you can't use ""

In [42]:
"hello"

'hello'

In [43]:
type("hello")

str

In [44]:
'hello'

'hello'

In [45]:
type('hello')

str

In [46]:
"He said "great day""

SyntaxError: invalid syntax (<ipython-input-46-3e7e0ffc2b9d>, line 1)

In [47]:
'He said "great day"'

'He said "great day"'

In [48]:
"He said \"great day\""

'He said "great day"'

In [49]:
"He said \n whatever"

'He said \n whatever'

In [50]:
print("He said \n whatever")

He said
 whatever

In [52]:
print("""He said
            whatever""")

He said
            whatever

In [53]:
print("a", "b", "c")

a b c

In [54]:
print("a", "b", "c", sep="-")

a-b-c

In [55]:
"Py" "thon"

'Python'

In [56]:
py = "Py"
thon = "thon"
py thon

SyntaxError: invalid syntax (<ipython-input-56-93424747ccd0>, line 3)

In [57]:
py = "Py"
thon = "thon"
py + thon

'Python'

In [58]:
# f-strings
f"We are learning {py + thon}"

'We are learning Python'

In [59]:
f"We are learning {py + thon} very successfully"

'We are learning Python very successfully'

In [60]:
f"My age is {10}"

'My age is 10'

In [61]:
"My age is " + "10" + "12"

'My age is 10'

Strings can be indexed (subscripted), with the first character having index 0

In [62]:
"abcdefg"[0]

'a'

In [63]:
"abcdefg"[5]

'f'

In [64]:
"abcdefg"[-1]

'g'

In [65]:
"abcdefg"[-2]

'f'

In [66]:
len("abcdefg")

7

In [ ]:
"""
+---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

""";

In [67]:
python = "Python"
python

'Python'

In [68]:
len(python)

6

#### Slicing

In [69]:
# left index - included, right index - excluded
python[0:2]

'Py'

In [70]:
# left index - included, right index - excluded
python[2:6]

'thon'

In [71]:
python[-4:-1]

'tho'

In [72]:
python[-4:]

'thon'

In [73]:
python[2:]

'thon'

In [74]:
python[:4]

'Pyth'

In [75]:
python[0:6:1]

'Python'

In [76]:
python[0:6:2]

'Pto'

In [77]:
python[::2]

'Pto'

In [78]:
python[::-1]

'nohtyP'

Strings are immutable - they can not be changed, every operation on them produces new string

In [79]:
python[0] = "Z"

TypeError: 'str' object does not support item assignment

In [80]:
"Z" + python[1:]

'Zython'

In [81]:
python

'Python'

In [82]:
python.lower()

'python'

In [83]:
python

'Python'

### Booleans

In [84]:
True

True

In [85]:
type(True)

bool

In [86]:
False

False

In [87]:
type(False)

bool

In [88]:
True and True

True

In [89]:
True and False

False

In [90]:
True or False

True

In [91]:
False or False

False

In [92]:
not True

False

In [93]:
not False

True

### None

In [95]:
None

In [96]:
type(None)

NoneType

In [97]:
s = None
s

In [98]:
s is None

True

In [99]:
s is not None

False

# Control flow

Python interpreter will throw an error if the indentation level in the block is not same.

## if statements

In [100]:
if True:
    print("true")
else:
    print("false")

true

In [101]:
if False:
    print("true")
else:
    print("false")

false

In [102]:
if not False:
    print("true")
else:
    print("false")

true

In [103]:
if 2 < 5:
    print("true")
else:
    print("false")

true

In [104]:
x = 5
if x < 5:
    print("less than 5")
elif x > 5:
    print("more than 5")
else:
    print("equal to 5")

equal to 5

In [105]:
x == 5

True

In [106]:
x = 5
y = 6
z = "awesome" if x+y==11 else "not awesome"
z

'awesome'

## while loops

In [107]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [108]:
i = 0
while i < 10:
    print(i)
    if i * i > 50:
        break
    i += 1

0
1
2
3
4
5
6
7
8

In [109]:
i = 0
while i < 10:
    print(i)
    if i * i > 50:
        break
    i += 1
else:
    print("Finished without breaking")

0
1
2
3
4
5
6
7
8

In [110]:
i = 0
while i < 10:
    print(i)
    if i * i > 100:
        break
    i += 1
else:
    print("Finished without breaking")

0
1
2
3
4
5
6
7
8
9
Finished without breaking

## for loops

In [111]:
range(5)

range(0, 5)

In [112]:
type(range(5))

range

In [113]:
for i in range(5):
    print(i)

0
1
2
3
4

In [114]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [115]:
for i in range(5, 10, 2):
    print(i)

5
7
9

In [116]:
for i in range(10):
    if i > 5:
        break
    print(i)

0
1
2
3
4
5

In [117]:
for i in range(10):
    if i < 5:
        continue
    print(i)

5
6
7
8
9

In [118]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print("Did not break from the loop")

0
1
2
3
4
5

In [119]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print("Did not break from the loop")

0
1
2
3
4
5
6
7
8
9
Did not break from the loop

# Data Structures

## List

In [120]:
[0, 1, 2, 3, 4, 5]

[0, 1, 2, 3, 4, 5]

In [121]:
li = [0, 1, 2, 3, 4, 5]
li

[0, 1, 2, 3, 4, 5]

In [122]:
type(li)

list

In [123]:
li[0]

0

In [124]:
li[-1]

5

In [125]:
li[::-1]

[5, 4, 3, 2, 1, 0]

In [126]:
li[2:5]

[2, 3, 4]

In [127]:
li_2 = [1, 2, "a", 'b', [3, 4, 5]]
li_2

[1, 2, 'a', 'b', [3, 4, 5]]

In [128]:
li_2[0]

1

In [129]:
li_2[2]

'a'

In [130]:
li_2[-1]

[3, 4, 5]

In [131]:
li_2[-1][0]

3

In [132]:
li_2[-1][-1]

5

Python lists are mutable

In [133]:
li_2[0] = 10
li_2

[10, 2, 'a', 'b', [3, 4, 5]]

In [134]:
[0, 1, 2] + [3, 4, 5]

[0, 1, 2, 3, 4, 5]

In [135]:
li_3 = []
li_3

[]

In [136]:
li_3.append(0)
li_3

[0]

In [137]:
li_3.append(1)
li_3

[0, 1]

In [138]:
li_3.append(2)
li_3

[0, 1, 2]

In [139]:
len(li_3)

3

All of the typical list functions/methods are available, read more here: https://docs.python.org/3/tutorial/datastructures.html

In [140]:
for i in li_3:
    print(i)

0
1
2

In [141]:
# Forget about this
new_list = []
for i in range(10):
    new_list.append(i)
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
# Use this
new_list = list(range(10))
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [143]:
fruits = ["apple", "banana", "iphone"]
fruits

['apple', 'banana', 'iphone']

In [144]:
# Forget about this
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
iphone

In [145]:
# Use this
for fruit in fruits:
    print(fruit)

apple
banana
iphone

In [146]:
# Or if you need index, use enumerate()
for i, fruit in enumerate(fruits):
    print(i, fruit, fruits[i])

0 apple apple
1 banana banana
2 iphone iphone

#### List comprehensions

In [147]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [148]:
# Not recommended
numbers_squared = []
for i in numbers:
    numbers_squared.append(i * i)
numbers_squared

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Map
numbers_squared = [i * i for i in numbers]
numbers_squared

In [149]:
# Filter
numbers_divisible_by_2 = [i for i in numbers if i % 2 == 0]
numbers_divisible_by_2

[0, 2, 4, 6, 8]

In [150]:
numbers_divisible_by_2_squared = [i * i for i in numbers if i % 2 == 0]
numbers_divisible_by_2_squared

[0, 4, 16, 36, 64]

In [151]:
[i if i % 2 == 0 else -i for i in numbers]

[0, -1, 2, -3, 4, -5, 6, -7, 8, -9]

## Tuple

Though tuples may seem similar to lists, they are often used in different situations and for different purposes. Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking

In [152]:
(0, 1, 2, 3, 4, 5)

(0, 1, 2, 3, 4, 5)

In [153]:
type((0, 1, 2, 3, 4, 5))

tuple

In [154]:
(0, 2, "a", 1.5)

(0, 2, 'a', 1.5)

In [155]:
our_tuple = (0, 1, 2, 3, 4, 5)
our_tuple

(0, 1, 2, 3, 4, 5)

In [156]:
our_tuple[0]

0

In [157]:
our_tuple[-3:]

(3, 4, 5)

In [158]:
our_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [159]:
for i in our_tuple:
    print(i)

0
1
2
3
4
5

In [160]:
1, 2, 3, 4, 5

(1, 2, 3, 4, 5)

In [161]:
x, y = 2, 3

In [162]:
x, y = (2, 3)

In [163]:
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 apple
1 banana
2 iphone

## Dictionary

In [164]:
tel = {"jack": 1, "sape": 2}
tel

{'jack': 1, 'sape': 2}

In [165]:
type(tel)

dict

In [166]:
tel["jack"]

1

In [167]:
tel["sape"]

2

In [168]:
tel["random_string"]

KeyError: 'random_string'

In [169]:
tel.get("random_string", -1)

-1

In [170]:
tel.get("random_string")

In [171]:
type(tel.get("random_string"))

NoneType

In [172]:
tel["me"] = 3
tel

{'jack': 1, 'sape': 2, 'me': 3}

In [173]:
del tel["me"]
tel

{'jack': 1, 'sape': 2}

In [174]:
tel.keys()

dict_keys(['jack', 'sape'])

In [175]:
tel.values()

dict_values([1, 2])

In [176]:
tel.items()

dict_items([('jack', 1), ('sape', 2)])

In [177]:
for key, value in tel.items():
    print(key, value)

jack 1
sape 2

In [178]:
squared_tel = {key: value * value for key, value in tel.items()}
squared_tel

{'jack': 1, 'sape': 4}

In [179]:
upper_tel = {key.upper(): value for key, value in tel.items()}
upper_tel

{'JACK': 1, 'SAPE': 2}

In [180]:
"jack" in tel

True

In [181]:
"random_string" in tel

False

In [182]:
len(tel)

2

## Set

In [183]:
{0, 1, 2, 3, 4, 5}

{0, 1, 2, 3, 4, 5}

In [184]:
type({0, 1, 2, 3, 4, 5})

set

In [185]:
words = {"hello", "world", "hello", "hi"}
words

{'hello', 'hi', 'world'}

In [186]:
len(words)

3

In [187]:
words = set(["hello", "world", "hello", "hi"])
words

{'hello', 'hi', 'world'}

In [188]:
"hello" in words

True

In [189]:
"abc" in words

False

In [190]:
{"hello", "world", "hi"} | {"hello", "students"}

{'hello', 'hi', 'students', 'world'}

In [191]:
{"hello", "world", "hi"} & {"hello", "students"}

{'hello'}

In [192]:
{"hello", "world", "hi"} - {"hello", "students"}

{'hi', 'world'}

# Functions

In [193]:
def square(x):
    return x * x

type(square)

function

In [194]:
square(2)

4

In [195]:
x = square(2)
x

4

In [196]:
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a)
        a, b = b, a+b
        
fib(100)

0
1
1
2
3
5
8
13
21
34
55
89

In [197]:
def square_and_add(x, b=5):
    return x*x + b

square_and_add(2, 3)

7

In [198]:
square_and_add(2)

9

In [199]:
square_and_add(2, b=3)

7

In [201]:
def square_cube(x):
    return x * x, x ** 3

square_cube(2)

(4, 8)

In [202]:
type(square_cube(2))

tuple

In [203]:
sq, cu = square_cube(2)
print(sq)
print(cu)

4
8

In [204]:
lambda x: x*x

In [205]:
fast_function = lambda x: x*x
fast_function(10)

100

In [206]:
type(lambda x: x*x)

function

In [207]:
def apply_f(func, x):
    return 2 * func(x)

apply_f(lambda x: x * x, 10)

200

## Classes

In [208]:
class Rectangle:
    PI = 3.14
    
    def __init__(self, x0, y0, x1, y1):
        self.x0 = x0
        self.y0 = y0
        self.x1 = x1
        self.y1 = y1
        self.width = self.x1 - self.x0
        self.height = self.y1 - self.y0
        
    def area(self):
        return self.width * self.height
    
type(Rectangle)

type

In [209]:
Rectangle(0, 0, 5, 5)

In [210]:
type(Rectangle(0, 0, 5, 5))

__main__.Rectangle

In [211]:
rectangle = Rectangle(0, 0, 5, 5)
type(rectangle)

__main__.Rectangle

In [212]:
isinstance(rectangle, Rectangle)

True

In [213]:
rectangle.area()

25

In [214]:
Rectangle.PI

3.14

In [215]:
rectangle.PI

3.14

In [216]:
print(rectangle)

<__main__.Rectangle object at 0x109606cf8>

## Dunder methods

In [217]:
class Rectangle:    
    def __init__(self, x0, y0, x1, y1):
        self.x0 = x0
        self.y0 = y0
        self.x1 = y1
        self.y1 = y1
        self.width = self.x1 - self.x0
        self.height = self.y1 - self.y0
        
    def area(self):
        return self.width * self.height
    
    def __str__(self):
        return f"Rectangle({self.x0}, {self.y0}, {self.x1}, {self.y1})"
    
    def __lt__(self, other):
        return self.area() < other.area()
    
    def __le__(self, other):
        return self.area() <= other.area()
    
    def __gt__(self, other):
        return self.area() > other.area()
    
    def __ge__(self, other):
        return self.area() >= other.area()
    
    def __eq__(self, other):
        return self.x0 == other.x0 and self.x1 == other.x1 and self.y0 == other.y0 and self.y1 == other.y1
    
    def __ne__(self, other):
        return not self == other
    
rectangle = Rectangle(0, 0, 5, 5)
print(rectangle)

Rectangle(0, 0, 5, 5)

In [218]:
Rectangle(0, 0, 5, 5) == Rectangle(0, 0, 5, 5)

True

In [219]:
Rectangle(0, 0, 5, 5) != Rectangle(0, 0, 5, 6)

True

In [220]:
Rectangle(0, 0, 5, 5) < Rectangle(0, 0, 10, 10)

True

## Inheritance

In [221]:
class Shape:
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height

class Rectangle(Shape):
    def __init__(self, x0, y0, x1, y1):
        super().__init__(x1 - x0, y1 - y0)
        self.x0 = x0
        self.y0 = y0
        self.x1 = y1
        self.y1 = y1
        
isinstance(Rectangle(0, 0, 10, 10), Shape)

True

In [222]:
Rectangle(0, 0, 10, 10).area()

100

# Further reading

- PEP
- Iterators
- Generators
- collections
- multiprocessing
- GIL
- decorators